* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-section {
  background-image: url(../img/c4a128fc08aef258c5dd4624c398460e.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  max-height: 160px;
  z-index: 999;
  position: relative;
}
.navbar-brand {
  width: 90px;
  height: 90px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.swiper {
  width: 100%;
  /* height: 100%; */
  margin-top: -10px;
}
.swiper-slide {
  position: relative;
}
.swiper-slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content p {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  margin-top: 0px;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
}
.swiper-slide .text-boder {
  width: 100%;
  height: 127px;
  /* margin-top: 220px; */
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
/* about section */

.about_section {
  background-image: url(../img/aboutbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}
.a-discrib {
  margin-top: 80px;
}
.a-discrib h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}
.a-discrib h1 span {
  color: rgba(255, 0, 0, 0.89);
}
.red_line {
  width: 218px;
  height: 23px;
}
.about_section.about_text {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 600;
}
.pera {
  width: 90%;
  text-align: justify;
}
.read--button {
  border-radius: 50px;
  padding: 13px 50px;
  font-size: 18px;
  text-transform: capitalize;
}
/* chooseing section */
.chooseingsection {
  background-image: url(../img/chooseingbackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* height: 867px; */
}
.c-discrib {
  font-family: "Playfair Display", serif;
  font-size: 55px;
}
.white_line {
  width: 370px;
}
.dis_inner img {
  width: 130px;
  height: 155px;
}
.dis_inner h3 {
  padding-top: 43px;
  margin-left: 27px;
  color: white;
}
.right_discrib {
  margin-top: 40px;
}
/* branch sction */
.branch_section {
  background-image: url(../img/branchbg.jpg);
  /* height: 1297px; */
}
.branch_section h2 {
  font-family: "Playfair Display", serif;
  font-size: 55px;
}
.branch_section span {
  color: red;
}
.red_border {
  width: 342px;
}
.card {
  width: 100%;
  max-width: 304px;
  margin: 0 auto;
  height: 470px;
  box-shadow: 0 4px 5px rgb(129, 129, 129);
}
.card_btn {
  padding: 8px 65px;
  border-radius: 50px;
  margin-left: 15px;
}
.card_text {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  color: red;
  margin-bottom: 16px;
}
/* apointment section */
.apointment_section {
  background-image: url(../img/apointmentbg.jpg);
  height: 100%;
  min-height: 732px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.apoint_border {
  width: 100%;
  height: 100px;
  margin-top: 173px;
}
.b_button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
}
/* gellary section */
.gellary_section {
  height: 595px;
  background-image: url(../img/gellarybg.svg);
  background-color: #fff;
}
.gellary_section h2 {
  font-family: "Playfair Display", serif;
  font-size: 55px;
}
.gellary_section h2 span {
  color: red;
}
/* slider section */
.gellary-slideshow {
  height: 414px;
  max-width: 10770px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.gellary-slideshow > div {
  height: 414px;
  width: 10770px;
  background-image: url("../img/gellaryslider.png");
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.gellary-slideshow .slide-1 {
  animation: moveSlideshow 50s linear infinite;
}
.gellary-slideshow .slide-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 50s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
/* footer section */
.footer_section {
  background-image: url(../img/footerbg.svg);
  height: 100%;
  min-height: 745px;

  background-size: cover;
  background-repeat: no-repeat;
}
.logo_border {
  top: 42px;
  left: 509px;
  min-width: 176px;
  width: 176px;
  min-height: 176px;
  height: 176px;
  display: block;
  /* overflow: hidden; */
}
.logo_border img {
  width: 175px;
  height: 174px;
  display: block;
  position: relative;
  left: 537px;
  top: 93px;
  max-width: inherit;
}
.footer_logo img {
  width: 130px;
  height: 130px;
  display: block;
  position: relative;
  left: 560px;
  top: -60px;
  max-width: inherit;
}
li.nav-item a {
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  padding: 0 40px;
  font-size: 23px;
  color: white;
}
.f_crown {
  width: 315px;
  margin-left: 36px;
}
.footer_section .mail_discrip {
  padding-top: 52px;
}
.mail_icon {
  width: 39px;
  margin: 0 10px;
}
.call_icon {
  width: 40px;
  margin-top: 39px;
  margin-right: 13px;
}
.map-discrib {
  font-family: "Playfair Display", serif;
  color: #fff;
}
/* footer fade content */
.footer_section .footerswiper {
  width: 35%;
  display:none;
}
@media screen and (max-width: 1200px) {
  .content p {
    font-size: 47px;
  }
  .logo_border img {
    left: 424px;
    top: 106px;
  }
  .footer_logo img {
    left: 447px;
    top: -47px;
  }
}
@media screen and (max-width: 992px) {
  .logo_border img {
    left: 250px;
    top: 48px;
  }
  .swiper-slide .text-boder {
    width: 100%;
    display: block;
    max-width: 280px;
    min-height: 88px;
    height: 126px;
  }
  .nav-section .z--index {
    z-index: 9999;
    margin-top: 28px;
    text-align: center;
    background-color: #000000cc;
  }
  .swiper .content {
    width: 100%;
    max-width: 64%;
  }
  .swiper-slide .content p {
    font-size: 45px;
    margin-top: 0px;
  }
  .footer_logo img {
    left: 273px;
    top: -103px;
  }
  .footer_section .links .nav {
    flex-direction: column;
    padding-left: 36%;
  }
  li.nav-item {
    padding: 0px;
  }
  .footer_section {
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
  }
  .footer_pera {
    display: none;
  }
  .errow {
    display: none;
  }
  .footer_section .footer_info_ {
    display: none;
  }
  .footer_section .call_discrip {
    display: none !important;
  }
  .f_crown {
    width: 245px;
    margin-left: -14px;
  }
  .map_content {
    width: 100%;
    margin-left: 235px;
  }
  .footer_section .map_i {
    width: 33%;
    margin-left: 15px;
  }
  .swiper.footerswiper {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .swiper .content {
    width: 100%;
    max-width: 70%;
  }
  .b_button {
    padding: 12px 23px;
    font-size: 16px;
    border-radius: 50px;
  }
  .footer_section .footer_info_ {
    display: none;
  }
  .f_crown {
    width: 248px;
    margin-left: 135px;
  }
  .logo_border img {
    left: 182px;
    top: 60px;
  }
  .footer_logo img {
    left: 205px;
    top: -93px;
  }
  .map_content {
    width: 100%;
    margin-left: 190px;
  }
  .swiper.footerswiper {
    width: 52%;
  }
}
@media screen and (max-width: 680px) {
  .swiper-slide .text-boder {
    height: 84px;
  }
  .swiper-slide .content p {
    font-size: 29px;
  }
  .swiper .content {
    width: 100%;
    max-width: 62%;
  }
  .text-boder {
    width: 471px;
    height: 92px;
  }
  .logo_border img {
    left: 185px;
    top: 60px;
  }
  .footer_logo img {
    left: 208px;
    top: -93px;
  }
  .footer_section .footer_info_ {
    display: none;
  }
  .left_erro {
    width: 185px;
  }
  .right_erro {
    width: 185px;
  }
  .f_crown {
    width: 314px;
    margin-left: 105px;
  }
}
@media screen and (max-width: 480px) {
  .logo_border img {
    left: 91px;
    top: 66px;
  }
  .swiper-slide .text-boder {
    width: 57%;
    height: 48px;
  }
  .swiper-slide .content p {
    font-size: 16px;
    padding-left: 47px;
  }
  .b_button {
    padding: 7px 9px;
    font-size: 13px;
  }
  .branch_section h2 {
    font-size: 41px;
  }
  .red_border {
    width: 210px;
  }
  .c-discrib {
    font-size: 39px;
  }
  .b_button {
    padding: 11px 15px;
    font-size: 13px;
    border-radius: 50px;
  }

  .footer_logo img {
    left: 114px;
    top: -87px;
  }
  .footer_section .links .nav {
    flex-direction: column;
    padding-left: 30%;
  }
  .f_crown {
    width: 235px;
    margin-left: 57px;
  }
  .map_content {
    width: 100%;
    margin-left: 102px;
  }
}
