* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-nav {
  background-color: #e21f26;
  width: 100%;
  /* min-width:820px; */
  height: 60px;
  font-family: "Poppins", Arial, serif;
  padding-top: 16px;
  padding-left: 128px;
  color: #fff;
}
.first-nav .first_nav_dis i {
  font-size: 30px;
}
.first-nav .first_nav_icon i {
  font-size: 30px;
}
.first-nav .first_nav_icon {
  padding-left: 36%;
}
.first-nav .first_nav_dis .f_nav_pera {
  font-family: "Poppins", Arial, sans-serif;
  padding: 2px;
  font-size: 14px;
}

.nav-section {
  background-image: url(../img/c4a128fc08aef258c5dd4624c398460e.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 140px;
  max-height: 160px;
  z-index: 999;
  position: relative;
}
.navbar-brand {
  width: 110px;
  height: 110px;
}
nav .collapse ul.navbar-nav {
  text-align: start;
  margin-left: 127px;
}
.nav-section .navbar .collapse .navbar-nav .nav-item a.nav-link {
  font-family: auto;
  margin: 6px 19px 0 10px;
  color: #000000;
  border-radius: 50px;
}
.nav-section button.btn.btn-danger.firstnav_btn {
  width: 177px;
  height: 50px;
  font-family: "Poppins", Arial, sans-serif;
  border: none;
}
.nav-section button.btn.btn-danger.rounded-pill.firstnav_btn:hover {
  background-color: #d78447;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.swiper {
  width: 100%;
  /* height: 100%; */
  margin-top: -10px;
}
.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content p {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  margin-top: 0px;
  /* line-height: 65px; */
  font-weight: 700;
  text-align: center;
}
.swiper-slide .text-boder {
  width: 100%;
  height: 127px;
  /* margin-top: 220px; */
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

/* about section */
.about_section {
  background-image: url(../img/aboutbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}
.a-discrib {
  margin-top: 80px;
}
.a-discrib h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}
.a-discrib h1 span {
  color: rgba(255, 0, 0, 0.89);
}
.red_line {
  width: 218px;
  height: 23px;
}
.about_section.about_text {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 600;
}
.pera {
  width: 90%;
  text-align: justify;
}
.read--button {
  border-radius: 50px;
  padding: 13px 50px;
  font-size: 18px;
  text-transform: capitalize;
}
/* chooseing section */
.chooseingsection {
  background-image: url(../img/chooseingbackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* height: 867px; */
}
.c-discrib {
  font-family: "Playfair Display", serif;
  font-size: 55px;
}
.white_line {
  width: 370px;
}
.dis_inner img {
  width: 130px;
  height: 155px;
}
.dis_inner h3 {
  padding-top: 43px;
  margin-left: 27px;
  color: white;
}
.right_discrib {
  margin-top: 40px;
}
/* branch sction */
.branch_section {
  background-image: url(../img/branchbg.jpg);
  /* height: 1297px; */
}
.branch_section h2 {
  font-family: "Playfair Display", serif;
  font-size: 55px;
}
.branch_section span {
  color: red;
}
.red_border {
  width: 342px;
}
.card {
  width: 100%;
  max-width: 304px;
  margin: 0 auto;
  height: 470px;
  box-shadow: 0 4px 5px rgb(129, 129, 129);
}
.card_btn {
  padding: 8px 65px;
  border-radius: 50px;
  margin-left: 15px;
}
.card_text {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  color: red;
  margin-bottom: 16px;
}
/* apointment section */
.apointment_section {
  background-image: url(../img/apointmentbg.jpg);
  height: 100%;
  min-height: 732px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.apoint_border {
  width: 100%;
  height: 100px;
  margin-top: 173px;
}
.b_button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
}
/* gellary section */
.gellary_section {
  height: 595px;
  background-image: url(../img/gellarybg.svg);
  background-color: #fff;
}
.gellary_section h2 {
  font-family: "Playfair Display", serif;
  font-size: 55px;
}
.gellary_section h2 span {
  color: red;
}
/* slider section */
.gellary-slideshow {
  height: 414px;
  max-width: 10770px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.gellary-slideshow > div {
  height: 414px;
  width: 10770px;
  background-image: url("../img/gellaryslider.png");
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.gellary-slideshow .slide-1 {
  animation: moveSlideshow 50s linear infinite;
}
.gellary-slideshow .slide-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 50s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
/* footer section */
.footer_section {
  background-image: url(../img/footerbg.svg);
  height: 100%;
  min-height: 745px;
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
}
.logo_border {
  top: 42px;
  left: 509px;
  min-width: 176px;
  width: 176px;
  min-height: 176px;
  height: 176px;
  display: block;
  /* overflow: hidden; */
}
.logo_border img {
  width: 175px;
  height: 174px;
  display: block;
  position: relative;
  left: 537px;
  top: 93px;
  max-width: inherit;
}
.footer_logo img {
  width: 130px;
  height: 130px;
  display: block;
  position: relative;
  left: 560px;
  top: -60px;
  max-width: inherit;
}
.footer_section li.nav-item a {
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  padding: 0 40px;
  font-size: 23px;
  color: white;
}
.f_crown {
  width: 315px;
  margin-left: 36px;
}
.footer_section .mail_discrip {
  padding-top: 52px;
}
.mail_icon {
  width: 39px;
  margin: 0 10px;
}
.call_icon {
  width: 40px;
  margin-top: 39px;
  margin-right: 13px;
}
.map-discrib {
  font-family: "Playfair Display", serif;
  color: #fff;
}
/* footer fade content */
.footer_section .footerswiper {
  width: 35%;
  display: none;
}
/* secound footer stat */
.footer_sec {
  width: 100%;
  height: 68px;
  min-height: 68px;
  background-color: #000000;
}
.sec_footer_logo img {
  width: 180px;
  height: 36px;
}
.sec_footer_main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sec_footer_link {
  font-size: 14px;
  font: normal normal 14px "Poppins", Arial, sans-serif;
}
.sec_footer_link a {
  text-decoration: none;
  color: #fff;
}
.sec_footer_icon {
  font-size: 29px;
}

/* -----------------------------ABOUT SECTION----------------------------------- */
.about_header {
  background-image: url(../img/aboutsection_bg.jpg);
  height: 400px;
  min-height: 400px;
  background-position: center;
  margin-top: -10px;
}
.about_header .aboutsection_heading {
  position: relative;
  text-align: center;
}
.about_header .aboutsection_heading img.header_img {
  position: absolute;
  width: 300px;
  height: 159px;
  top: 125px;
  left: 38%;
}
h1.header_discri {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  position: absolute;
  top: 164px;
  left: 38%;
  color: white;
}
/* banner section */
.about_banner {
  background-image: url(../img/aboutbanner_bg.jpg);
  /* height: 602px; */
}
.about_banner h2 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
.about_banner h2 span {
  color: red;
}
.a_banner_heading_design {
  width: 251px;
  height: 2px;
}
.banner_a_img {
  min-width: 480px;
  width: 480px;
  min-height: 493px;
  height: 493px;
}

/*---------------------------OUR BRANCH SECTION------------------------------------ */
.branch_header {
  background-image: url(../img/OURBRANCH_BG.jpg);
  height: 400px;
  min-height: 400px;
  background-position: center;
  margin-top: -10px;
}
.branch_header .branch_section_heading {
  position: relative;
  text-align: center;
}
.branch_header .branch_section_heading img.header_img {
  position: absolute;
  width: 300px;
  height: 159px;
  top: 125px;
  left: 38%;
}
h1.branch_header_discri {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  position: absolute;
  top: 164px;
  left: 34%;
  color: white;
}
/* service_provider section */

.service_provider_section {
  height: 100%;
  /* min-height: 950px; */
}
.background_imgdiv {
  background-image: url(../img/ourbranch_hair.jpg);
  height: 100%;
  max-height: 812px;
}
.service_heading h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: red;
}
.service_heading .service_heading_t_design {
  width: 300px;
  height: 32px;
}
.service_heading .brnach_pera {
  width: 50%;
}
.branch_service_heading h3 {
  font-family: "playfair Display", serif;
  font-size: 36px;
}
.branch_service_heading h3 span {
  color: #e21f26;
}
.branch_service_img {
  width: 540px;
  height: 488px;
}
.branch_section_list h2 {
  color: #e21f26;
  padding-left: 29px;
  font-family: "playfair Display", serif;
}
.branch_section_list ul li {
  list-style: none;
  font-family: "Poppins", Arial, sans-serif;
}
button.btn.btn-danger.branch_section_btn {
  width: 177px;
  height: 50px;
  border-radius: 50px;
  border: none;
}
/* nail care----------------- */
.background_nail_img {
  background-image: url(../img/nailart_bg.jpg);
  height: 100%;
  max-height: 812px;
}
.branch_service_img {
  width: 540px;
  height: 488px;
}
/* thrading section ---------------*/
.background_thread_img {
  background-image: url(../img/threding_bg.jpg);
  height: 100%;
  /* max-height: 812px; */
}
.branch_section_heading {
  color: #e21f26;
  padding-left: 29px;
  font-family: "playfair Display", serif;
}
.branch_section_list .branch_thread_h2 {
  padding-left: 21px;
}
/* facial section ---------------- */
.background_facial_img{
  background-image: url(../img/facial_bg.jpg);
  height: 100%;
}

/* makeup section */
.background_makeup_img{
  background-image: url(../img/makeup_bg.jpg);
  height: 100%;
}
/* bodycare section */
.background_bodycare_img{
  background-image: url(../img/bodycare_bg_.jpg);
  height: 100%;
}
/* bodycare section */
.background_waxing_img{
  background-image: url(../img/waxing_bg.jpg);
  height: 100%;
}
.branch-service_img{
  width: 470px;
  height: 425px;
}
/* bath section */
.background_bath_img{
  background-image: url(../img/bathsection_bg.jpg);
}
/* heena section */
.background_heena_img{
  background-image: url(../img/heenasection_bg.jpg);
  
}
/* -------------------------GALLERY SECTION----------------- */

.branch_header {
  background-image: url(../img/gallerysection_banner_bg.jpg);
  height: 400px;
  min-height: 400px;
  background-position: center;
  margin-top: -10px;
}
h1.gallery_header_discri {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  position: absolute;
  top: 164px;
  left: 41%;
  color: white;
}
.gallery_heading_img{
  width: 300px;
  height: 95px;
}
.gallery_heading_text h2{
 color: #000000;
 font-size:56px;
}
.gallery_heading_text h2 span{
  color: #e21f26;
}
.service_heading_t_design {
  width: 300px;
  height: 32px;
}
/* box section */
.gallery_section{
  background-image: url(../img/gallery_section_bg.jpg);
}
.gallery_box{
  width: 380px;
  height: 288px;
  margin-bottom: 27px;
}

/* -------------------------CONTACT SECTION---------------------------------------- */

.contact_header {
  background-image: url(../img/contactsection_bg.jpg);
  height: 400px;
  min-height: 400px;
  background-position: center;
  margin-top: -10px;
}
.contact_header .header_heading {
  position: relative;
  text-align: center;
}
.contact_header .header_heading img.header_img {
  position: absolute;
  width: 300px;
  height: 159px;
  top: 125px;
  left: 38%;
}
h1.header_discri {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  position: absolute;
  top: 164px;
  left: 38%;
  color: white;
}
/* search section */
.search_section {
  min-height: 2484px;
  height: 2484px;
}
.search_section h2 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
.search_section h2 span {
  color: red;
}
.search_section .heading_design {
  width: 251px;
  height: 2px;
}
.search_section .call_card .card_img {
  width: 117px;
  height: 118px;
}
.search_section .call_card .card_inner {
  width: 39%;
  text-align: inherit;
  margin-left: 28px;
  padding-top: 6px;
}
.search_section .search_girl {
  width: 550px;
  height: 635px;
}
.search_section .card_inner h3 {
  font: normal normal 36px "Playfair Display", Arial, serif;
  color: black;
}
.search_section .card_inner h3 span {
  color: red;
}
.search_section .call_card {
  padding-bottom: 55px;
}
/* map section */
.map_section {
  width: 100%;
  height: 350px;
}
/* form section */
.form_section {
  width: 100%;
  height: 100%;
  min-height: 758px;
  background-color: #e21f26;
}
.form_section .forem_heading h2 {
  font: normal bold 56px "Playfair Display", Arial, serif;
  color: #fff;
}
.form_section .heading_t_design {
  width: 300px;
  height: 31px;
  margin-left: 38%;
}
.form_img {
  width: 550px;
  min-height: 437px;
  margin-left: 78px;
}
.message_input {
  height: 290px;
  width: 509px;
}
.form_btn {
  padding: 6px 12px;
  background-color: #fff;
  margin-left: 80%;
  margin-top: 8px;
}
.w--input {
  width: 509px;
  height: 34px;
}
.padding_ {
  margin-right: -17px !important;
}
.form-label {
  padding-right: 34px;
  font-size: 14px;
  color: #fff;
}
